<!DOCTYPE html>
<html class="no-js">
  <head>
            {% include head.html %}
  </head>

  <body>

    <!-- Header Start -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            {% include nav.html %}
        </div>
      </div>
    </div>
  </header><!-- header close -->


    {{ content }} 

    
    <!-- footer Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% include footer-nav.html %}
            <p>Copyright &copy; Design & Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
            
            
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
            
    
    </body>
</html>
